# -- OSX --
.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


# -- Maven --
target/

# -- Netbeans --
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# -- IDEA --
*.iml
*.ipr
*.iws
.idea/

# -- Eclipse --
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath
